<nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
    <div class="navbar-nav w-100">
        
        {% for category in categories %}
            {% if not category.super %}
                {% if category.is_super %}
                    <div class="nav-item dropdown dropright">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{category.title}} <i class="fa fa-angle-right float-right mt-1"></i></a>
                        <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                            {% for subcategory in category.category_set.all %}
                                <a href="{{subcategory.get_absolute_url}}" class="dropdown-item">{{subcategory.title}}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <a href="{{category.get_absolute_url}}" class="nav-item nav-link">{{category.title}}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</nav>