{% extends 'layouts/layout.html' %}
{% load static %}
{% load urlhelper %}

{% block title %}
    <title>Product List</title>
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'ecommerce/product-list/product-list.css' %}">
{% endblock styles %}

{% block main %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Shop List</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4 filter-parent">
                <!-- Price Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by price</span></h5>
                <div class="bg-light p-4 mb-30">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-6">
                              <label for="min-price">Min Price</label>
                              <input type="number" class="form-control" id="min-price" limitvalue="{{price_info.min_value}}" placeholder="{{price_info.min_value}}">
                            </div>
                            <div class="form-group col-6">
                              <label for="max-price">Max Price</label>
                              <input type="number" class="form-control" id="max-price" limitvalue="{{price_info.max_value}}" placeholder="{{price_info.max_value}}">
                            </div>
                          </div>
                    </form>
                </div>
                <!-- Price End -->
                
                <!-- Color Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by color</span></h5>
                <div class="bg-light p-4 mb-30">
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-all">
                            <label class="custom-control-label" for="color-all">All Color</label>
                        </div>
                        {% for color in colors %}
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input color-input" data-title={{color.title}} id="color-{{color.title}}">
                                <label class="custom-control-label" for="color-{{color.title}}">{{color.title}}</label>
                                <span class="badge border font-weight-normal">{{color.count}}</span>
                            </div>
                        {% endfor %}
                    </form>
                </div>
                <!-- Color End -->

                <!-- Size Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by size</span></h5>
                <div class="bg-light p-4 mb-30">
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="size-all">
                            <label class="custom-control-label" for="size-all">All Size</label>
                        </div>
                        {% for size in sizes %}
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input size-input" data-title={{size.title}} id="size-{{size.title}}">
                                <label class="custom-control-label" for="size-{{size.title}}">{{size.title}}</label>
                                <span class="badge border font-weight-normal">{{size.count}}</span>
                            </div>
                        {% endfor %}
                    </form>
                </div>
                <!-- Size End -->
                <div class="filter-button">Filter</div>

            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div>
                                <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                                <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                            </div>
                            <div class="ml-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Sorting</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="?{% edit_query request sorting='-created' %}">Latest</a>
                                        <a class="dropdown-item" href="?{% edit_query request sorting='-price' %}">Expensive</a>
                                        <a class="dropdown-item" href="?{% edit_query request sorting='price' %}">Cheap</a>
                                        <a class="dropdown-item" href="?{% edit_query request sorting='-avg_review' %}">Rating</a>
                                    </div>
                                </div>
                                <div class="btn-group ml-2">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Showing</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="?{% edit_query request page_by=6 %}">6</a>
                                        <a class="dropdown-item" href="?{% edit_query request page_by=9 %}">9</a>
                                        <a class="dropdown-item" href="?{% edit_query request page_by=12 %}">12</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for product in products %}
                        {% include 'includes/product.html' with product=product class_name="col-lg-4"%}
                    {% endfor %}
                    <div class="col-12">
                        <nav>
                            <ul class="pagination justify-content-center">
                            {% if page.has_previous  %}
                                <li class="page-item"><a class="page-link" href="?{% edit_query request page=page.previous_page_number %}">Previous</span></a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">Previous</span></a></li>
                            {% endif %}

                            {% for page_number in paginator.page_range %}
                                {% if page_number == page.number %}
                                    <li class="page-item active"><a class="page-link" href="?{% edit_query request page=page_number %}">{{page_number}}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?{% edit_query request page=page_number %}">{{page_number}}</a></li>
                                {% endif %}
                            {% endfor %}


                            {% if page.has_next %}
                                <li class="page-item"><a class="page-link" href="?{% edit_query request page=page.next_page_number%}">Next</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                            {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->
{% endblock main %}


{% block scripts %}
    <script src="{% static 'ecommerce/product-list/product-list.js' %}"></script>
{% endblock scripts %}